extends layout

block content
  
    div(id='main')
        ul(id='lable_container')
            each item in data
                li(data-url=item.url)
                    - var color='#'+item.color                    
                    span(class='lable lable-delault',style={'background':color}) #{item.name}