extends layout

block content
  
  div(id='main')
    div(id='labels_conteiner')
      div(id='header')
        h4 Labels
      div(id='label')
        ul(id='label_list')
          li(id='label_list_element')