extends layout

block content
  nav
    ul
      li 
        a(href="#") Home
      li 
        a(href="#") About
      li 
        a(href="#") Contact
  div(id='form_container')
    input(type="text" id='repositori_name') 
    input(type="button" id='search_repo' value='search repositori')