doctype html
html
  head
    title= title
    meta( charset="UTF-8")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet",href="//fonts.googleapis.com/css?family=Oswald")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    header 
      nav(class="navbar navbar-default")
        div(class="container-fluid")
          div(class="navbar-header")
            a(class="navbar-brand")
              img(alt="Brand" src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" style="width:92px; height:92px;")
          h1(class="page-header") GitHub Issue Browser
    form(action="/getissues", method="POST",id='form_container',enctype="application/x-www-form-urlencoded")
      - if(!data.check.notnull)
          div(class="alert alert-danger")
            strong Danger!
              b  Url can't be null
      - else 
        - if(!data.check.gh_found)
            div(class="alert alert-warning")
              strong Warning!
                b  Something wrong check you url
        - else if(data.check.gh_limit)
            div(class="alert alert-warning")
              strong Warning!
                b  GitHub rate limit exceeded
        - else
            div(class="alert alert-info")
              strong Info!
                b  Put your repository url
      div(class="input-group input-group-lg")
        input(type="text" class="form-control" name='repositori_name' aria-describedby="basic-addon3")
        span(class="input-group-btn")
          input(type='submit' id='search_repo' value='Search repository' class="btn btn-secondary")
    block content
    footer