doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet",href="//fonts.googleapis.com/css?family=Oswald")
  body
    header 
      p Issue browser
    block content
    footer
